Body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(https://t3.ftcdn.net/jpg/02/74/91/02/360_F_274910292_Xm3dgmmfMJVFrcjUR1eqJmIC7giRrsTF.jpg),
    linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.Detail {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 10px;
  min-height: 25vh;
  min-width: 25vw;
  width: fit-content;
  height: fit-content;
  background-color: rgba(5, 5, 5, 0.8);
  font-family: "Reem Kufi", sans-serif;
}

.Headers {
  color: lightblue;
  font-size: 1.2em;
}

.Footers {
  color: rgba(220, 220, 220, 0.5);
  font-size: 1em;
}
.InpSeg {
  padding-top: 10%;
  padding-bottom: 10%;
}
.InpSeg input:focus {
  outline: none;
  height: 40px;
  width: 90%;
  background-color: transparent;
  font-family: "Reem Kufi", sans-serif;
  color: rgb(255, 251, 17);
  font-size: 20px;
  border-color: rgb(255, 251, 17);
  border-radius: 40px;
}
.InpSeg input {
  padding-left: 15px;
  height: 40px;
  width: 90%;
  background-color: transparent;
  font-family: "Reem Kufi", sans-serif;
  color: rgb(255, 251, 17);
  font-size: 20px;
  border-color: transparent;
  border-radius: 40px;
}

button {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(0deg, #000428, #024a8a);
  color: white;
  font-family: "Reem Kufi", sans-serif;
  border-radius: 20px;
  border-color: transparent;
  border-width: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 0.6vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(4, 148, 184);
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
